{% extends 'base.html.twig' %}

{% block title %}POST:{{ post.name }}{% endblock %}

{% block body %}
     <div class="mt-2">
     <a href="{{ path ('posts') }}" ><strong>Назад</strong></a>
     </div>

     <div  style="margin-top: 20px">

     <h1>{{ post.name }}</h1>

     <h2>{{ post.description }}</h2>

     <h6>{{ post.createdAt| date("d.m.y   h:m:s")  }}</h6>
     </div>

{% endblock %}